@model STech.ViewModels.ChangePasswordVM

<form action="#" method="post" class="change-password-form">
    <div class="user-form-box d-flex align-items-center">
        <div class="user-input-label text-end">
            <span>Mật khẩu cũ</span>
        </div>
        <div class="d-flex flex-column flex-grow-1">
            @Html.PasswordFor(row => row.OldPassword, new { placeholder = "Mật khẩu cũ", autocomplete = true })
            @Html.ValidationMessageFor(row => row.OldPassword)
        </div>
    </div>
    <div class="user-form-box d-flex align-items-center">
        <div class="user-input-label text-end">
            <span>Mật khẩu mới</span>
        </div>
        <div class="d-flex flex-column flex-grow-1">
            @Html.PasswordFor(row => row.NewPassword, new { placeholder = "Mật khẩu mới", autocomplete = true })
            @Html.ValidationMessageFor(row => row.NewPassword)
        </div>
    </div>
    <div class="user-form-box d-flex align-items-center">
        <div class="user-input-label text-end">
            <span>Nhập lại mật khẩu mới</span>
        </div>
        <div class="d-flex flex-column flex-grow-1">
            @Html.PasswordFor(row => row.ConfirmNewPassword, new { placeholder = "Xác nhận mật khẩu mới", autocomplete = true })
            @Html.ValidationMessageFor(row => row.ConfirmNewPassword)
        </div>
    </div>
    <div class="user-form-box d-flex align-items-center mt-3">
        <button type="submit" class="user-form-submit">ĐỔI MẬT KHẨU</button>
    </div>
</form>
