
@{
    ViewBag.Title = "Tài khoản - STech";
}

@model Tuple<STech.Identity.ApplicationUser, List<STech.DTO.HoaDonDTO>>
    
@if (User.Identity.IsAuthenticated)
{
    <section class="account-wrapper d-flex">
        <div class="account-left-side">
            <div class="account-name d-flex align-items-center gap-3">
                <div class="user-image-box position-relative">
                    <div class="user-image">
                        <img src="@(Model.Item1.Avatar != null ? Model.Item1.Avatar : "/Assets/Images/no-user-image-icon.png")" alt="" class="user-img" />
                    </div>
                    <button class="upload-img-btn position-absolute">
                        <i class='bx bx-plus'></i>
                    </button>
                </div>
                <span>@User.Identity.Name</span>
            </div>
            <hr />
            <div class="account-nav">
                <ul class="account-nav-list">
                    <li class="account-nav-list-item" id="info-nav">
                        <a href="#account-info" class="activeNav">
                            <i class="fa-solid fa-user account-list-icon"></i>
                            <span>Thông tin tài khoản</span>
                        </a>
                    </li>
                    <li class="account-nav-list-item" id="orders-nav">
                        <a href="#orders">
                            <i class="fa-solid fa-bag-shopping account-list-icon"></i>
                            <span>Đơn hàng</span>
                        </a>
                    </li>
                    <li class="account-nav-list-item" id="password-nav">
                        <a href="#password">
                            <i class="fa-solid fa-key account-list-icon"></i>
                            <span>Đổi mật khẩu</span>
                        </a>
                    </li>
                    <li class="account-nav-list-item">
                        <p class="account-logout">
                            <i class="fa-solid fa-right-from-bracket account-list-icon"></i>
                            <span>Đăng xuất</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="account-right-side">
            <div class="account-right-box current" data-account-side="account-info">
                <h3 class="r-side-header">Thông tin tài khoản</h3>
                <div class="account-info-wrapper">
                    @Html.Partial("Partial_UpdateAccount", new Tuple<STech.Identity.ApplicationUser, STech.ViewModels.UpdateAccountVM>(Model.Item1, new STech.ViewModels.UpdateAccountVM()))
                    <div class="update-error mt-3">
                    </div>
                </div>
            </div>

            <div class="account-right-box" data-account-side="orders">
                <h3 class="r-side-header">Đơn hàng</h3>
                <div class="orders-wrapper">
                    <div class="orders-header">
                        <ul class="order-header-list">
                            <li class="active" data-get-order="all">
                                TẤT CẢ
                            </li>
                            <li data-get-order="new">
                                MỚI
                            </li>
                            <li data-get-order="unpaid">
                                CHƯA THANH TOÁN
                            </li>
                            <li data-get-order="paid">
                                ĐÃ THANH TOÁN
                            </li>
                        </ul>
                    </div>
                    <div class="order-search-box">
                        <form action="#" method="post" class="order-search-form">
                            <input type="text" id="order-search" name="order-search" autocomplete="off" placeholder="Tìm theo mã đơn hàng" />
                            <button type="submit" class="order-search-btn">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </form>
                    </div>
                    <hr />
                    <div class="order-list-box mt-1">
                        @if (Model.Item2.Count > 0)
                        {
                            <div class="order-list">
                                <table class="table">
                                    <tr>
                                        <th>Mã ĐH</th>
                                        <th>Ngày đặt</th>
                                        <th>Tổng tiền</th>
                                        <th>TT thanh toán</th>
                                        <th>Trạng thái</th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model.Item2)
                                    {
                                        string paymentStatusClass = "order-waiting";
                                        string paymentText = "Chưa thanh toán";
                                        if (item.TrangThaiThanhToan.Equals("failed"))
                                        {
                                            paymentStatusClass = "order-failed";
                                            paymentText = "T.toán thất bại";
                                        }
                                        else if (item.TrangThaiThanhToan.Equals("paid"))
                                        {
                                            paymentStatusClass = "order-success";
                                            paymentText = "Đã thanh toán";
                                        }

                                        string statusClass = "order-waiting";
                                        string statusText = "Chờ xác nhận";
                                        if (item.TrangThai.Equals("cancelled"))
                                        {
                                            statusClass = "order-failed";
                                            statusText = "Đã hủy";
                                        } else if(item.TrangThai.Equals("confirmed"))
                                        {
                                            statusClass = "order-success";
                                            statusText = "Đã xác nhận";
                                        }

                                        <tr>
                                            <td class="order-id">@item.MaHD</td>
                                            <td class="order-date">@(item.NgayDat.HasValue ? item.NgayDat.Value.ToString("dd/MM/yyyy") : "")</td>
                                            <td class="order-total">@item.TongTien.Value.ToString("##,###", ViewBag.cul)đ</td>
                                            <td>
                                                <div class="order-pstatus @paymentStatusClass">@paymentText </div>
                                            </td>
                                            <td>
                                                <div class="order-status @statusClass">@statusText</div>
                                            </td>
                                            <td> <a href="/order/detail/@item.MaHD">Chi tiết</a></td>
                                        </tr>
                                    }
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="order-empty d-flex flex-column gap-3 align-items-center justify-content-center">
                                <img src="#" alt="" />
                                <span>Bạn chưa có đơn hàng nào</span>
                                <button class="to-home-page-btn" onclick="window.location.href='/collections/all'">
                                    TIẾP TỤC MUA HÀNG
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="account-right-box" data-account-side="password">
                <h3 class="r-side-header">Đổi mật khẩu</h3>
                <div class="password-wrapper">
                    @Html.Partial("Partial_ChangePassword", new STech.ViewModels.ChangePasswordVM())
                </div>
                <div class="update-error mt-3">
                </div>
            </div>
        </div>

    </section>

    <div class="upload-user-image position-fixed">
        <div class="upload-form-box position-relative">
            <div class="close-upload-frm">
                <i class='bx bx-x'></i>
            </div>
            <h4>Tải hình ảnh hồ sơ</h4>
            <div>* Kích thước hình ảnh không lớn hơn 5MB.</div>
            <div class="mb-3">* Hãy chọn ảnh có tỉ lệ 1:1</div>
            <div class="upload-user-img d-flex flex-column align-items-center justify-content-center gap-2">
                <i class="fa-solid fa-cloud-arrow-up"></i>
                <span>Tải tên hoặc kéo thả hình ảnh vào đây</span>
            </div>
            <form action="#" class="form-upload-image" enctype="multipart/form-data">
                <input type="file" class="file-input" id="imageFile" name="imageFile" accept="image/jpg, image/jpeg, image/png, image/webp" hidden required />
            </form>
            <div class="upload-progress-bar align-items-center gap-2 justify-content-between mt-3">

            </div>
            <div class="upload-frm-notice d-flex align-items-center mt-3">

            </div>
        </div>
    </div>
}