@{ ViewBag.Title = "Trang chủ - STech"; }

@model List<List<STech.DTO.SanPhamDTO>>

<section class="menu">
    @{
        Html.RenderPartial("Partial_Megamenu");
    }
    <div class="slider">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                @for (int i = 1; i < ViewBag.Sliders.Count; i++)
                {
                    <button type="button" data-bs-target="#carouselExampleFade" data-bs-slide-to="@i" aria-label="Slide @i"></button>
                }
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a href="@ViewBag.Sliders[0].SliderLink">
                        <img src="@ViewBag.Sliders[0].SliderImgSrc" class="d-block w-100" alt="...">
                    </a>
                </div>
                @for (int i = 1; i < ViewBag.Sliders.Count; i++)
                {

                    <div class="carousel-item">
                        <a href="@ViewBag.Sliders[i].SliderLink">
                            <img src="@ViewBag.Sliders[i].SliderImgSrc" class="d-block w-100" alt="...">
                        </a>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section class="policy">
    <div class="policy-item">
        <i class="fa-solid fa-truck-fast policy-icon"></i>
        <div class="policy-content-box">
            <div class="policy-content">Đảm bảo đúng hẹn</div>
            <div class="sub-policy-content">Hoàn lại tiền trong 30 ngày</div>
        </div>
    </div>
    <div class="policy-item">
        <i class="fa-solid fa-wallet policy-icon"></i>
        <div class="policy-content-box">
            <div class="policy-content">Miến phí vận chuyển</div>
            <div class="sub-policy-content">Cho đơn hàng trong bán kính 5km</div>
        </div>
    </div>
    <div class="policy-item">
        <i class="fa-solid fa-comments policy-icon"></i>
        <div class="policy-content-box">
            <div class="policy-content">Hỗ trợ trực tuyến</div>
            <div class="sub-policy-content">Chúng tôi hỗ trợ 24/24</div>
        </div>
    </div>
    <div class="policy-item">
        <i class="fa-solid fa-gift policy-icon"></i>
        <div class="policy-content-box">
            <div class="policy-content">Khuyến mãi</div>
            <div class="sub-policy-content">Nhiều khuyến mãi hấp dẫn</div>
        </div>
    </div>
</section>

<section class="banner-1">
    <div class="banner-1-content">
        <a href="#">
            <img src="~/Assets/Images/banner/banner-1-img-1.png" alt="">
        </a>
    </div>
    <div class="banner-1-content">
        <a href="#">
            <img src="~/Assets/Images/banner/banner-1-img-1.png" alt="">
        </a>
    </div>
    <div class="banner-1-content">
        <a href="#">
            <img src="~/Assets/Images/banner/banner-1-img-1.png" alt="">
        </a>
    </div>
</section>



@if (ViewBag.Banner.Count > 0)
{
    <section class="banner-2">
        @foreach (var banner in ViewBag.Banner)
        {
            <div class="banner-2-content">
                <a href="@banner.BannerLink">
                    <img src="@banner.BannerImgSrc" alt="">
                </a>
            </div>
        }
    </section>
}


<section class="section-categories">
    <div class="section-header">
        <h2 class="section-title">
            <a href="/collections/all">Danh mục sản phẩm</a>
        </h2>
        <div class="section-header-link">
            <a href="/collections/all">Xem tất cả</a>
        </div>
    </div>
    <div class="section-categories-items">
        <div class="section-categories-row">
            @foreach (var dm in ViewBag.DanhMuc)
            {
                <div class="category-item-box">
                    <a href="/collections/@dm.MaDM" class="category-item-link">
                        <div class="category-item">
                            <div class="category-item-image">
                                <img src="@dm.HinhAnh" alt="" class="category-item-img">
                            </div>
                            <span class="category-item-name">
                                @dm.TenDM
                            </span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

@foreach (var list in Model)
{
    var first_sp = list.FirstOrDefault();
    <section class="section-collection">
        <div class="section-header">
            <div class="section-header-box">
                <h2 class="section-title">
                    <a href="/collections/@first_sp.DanhMuc.MaDM">@first_sp.DanhMuc.TenDM nổi bậc</a>
                </h2>
                <div class="section-sub-header-box">
                    <i class="fa-solid fa-truck"></i>
                    <span>Miễn phí giao hàng</span>
                </div>
            </div>
            <div class="section-header-link">
                <a href="/collections/@first_sp.DanhMuc.MaDM">Xem tất cả</a>
            </div>
        </div>
        <div class="section-content">
            <div class="collection-slick-slider">
                @foreach (var sp in list)
                {
                    <div class="slick-slider-item">
                        <div class="product-box">
                            <a href="/product/@sp.MaSP" class="product-link">
                                <div class="product-image lazy-loading">
                                    <img lazy-src="@(sp.HinhAnh != null ? sp.HinhAnh : "~/Assets/Images/no-image.jpg")" alt="" class="product-img">
                                </div>
                            </a>
                            @if (sp.Tonkho <= 0)
                            {
                                <div class="out-of-stock mt-1 text-center">
                                    Hết hàng
                                </div>
                            }
                            <a href="/product/@sp.MaSP" class="product-link">
                                <div class="product-name">
                                    @sp.TenSP
                                </div>
                            </a>

                            @{ double discountPercent = 0; }
                            <div class="product-original-price">
                                @if (sp.GiaGoc > sp.GiaBan)
                                {
                                    decimal giagoc = Convert.ToDecimal(sp.GiaGoc);

                                    discountPercent = ((Convert.ToDouble(sp.GiaGoc) - Convert.ToDouble(sp.GiaBan))
                                        / Convert.ToDouble(sp.GiaGoc)) * 100;
                                    <span>@giagoc.ToString("#,###", ViewBag.cul)đ</span>
                                }
                                else
                                {
                                    <span style="visibility: hidden">0</span>
                                }
                            </div>
                            <div class="product-price d-flex align-items-center">
                                @{
                                    decimal giaban = Convert.ToDecimal(sp.GiaBan);
                                }
                                <span>@giaban.ToString("##,###", ViewBag.cul)đ</span>
                                @if (discountPercent > 0)
                                {
                                    <div class="product-discount-percent">
                                        @( "-" + (int)discountPercent + "%" )
                                    </div>
                                }
                            </div>
                            <button class="view-product" onclick="window.location.href='/product/@sp.MaSP'">
                                <i class="fa-regular fa-eye"></i>
                            </button>
                            <button class="btn-add-to-cart" data-product="@sp.MaSP">
                                <i class="fa-solid fa-cart-plus"></i>
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}

<section class="section-brands">
    <div class="section-header">
        <h2 class="section-title">
            <i class="fa-solid fa-circle-check"></i>
            <a href="#">Thương hiệu nổi bật</a>
        </h2>
    </div>
    <div class="brand-collections">
        @foreach (var hsx in ViewBag.HangSX)
        {
            <div class="brand-item">
                <a href="#">
                    <img src="@hsx.HinhAnh" alt="@hsx.TenHang Logo">
                </a>
            </div>
        }
    </div>
</section>